@font-face {
  font-family: 'iconfont'; /* Project id 3664947 */
  src: url('//at.alicdn.com/t/c/font_3664947_mjkwhn4ufsd.woff2?t=1663836158563')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3664947_mjkwhn4ufsd.woff?t=1663836158563')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3664947_mjkwhn4ufsd.ttf?t=1663836158563')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Artboard1:before {
  content: '\edc9';
}

.icon-Artboard2:before {
  content: '\edca';
}

.icon-Artboard3:before {
  content: '\edcb';
}

.icon-Artboard4:before {
  content: '\edcc';
}

.icon-Artboard5:before {
  content: '\edcd';
}

.icon-Artboard6:before {
  content: '\edce';
}

.icon-Artboard7:before {
  content: '\edcf';
}

.icon-Artboard8:before {
  content: '\edd0';
}

.icon-Artboard9:before {
  content: '\edd1';
}

.icon-Artboard10:before {
  content: '\edd2';
}

.icon-Artboard11:before {
  content: '\edd3';
}

.icon-Artboard12:before {
  content: '\edd4';
}

.icon-Artboard13:before {
  content: '\edd5';
}

.icon-Artboard14:before {
  content: '\edd6';
}

.icon-Artboard15:before {
  content: '\edd7';
}

.icon-Artboard16:before {
  content: '\edd8';
}

.icon-Artboard17:before {
  content: '\edd9';
}

.icon-Artboard18:before {
  content: '\edda';
}

.icon-Artboard19:before {
  content: '\eddb';
}

.icon-Artboard20:before {
  content: '\eddc';
}

.icon-Artboard21:before {
  content: '\eddd';
}

.icon-Artboard22:before {
  content: '\edde';
}

.icon-Artboard23:before {
  content: '\eddf';
}

.icon-Artboard24:before {
  content: '\ede0';
}

.icon-Artboard25:before {
  content: '\ede1';
}

.icon-Artboard26:before {
  content: '\ede2';
}

.icon-Artboard27:before {
  content: '\ede3';
}

.icon-Artboard28:before {
  content: '\ede4';
}

.icon-Artboard29:before {
  content: '\ede5';
}

.icon-Artboard30:before {
  content: '\ede6';
}

.icon-Artboard31:before {
  content: '\ede7';
}

.icon-Artboard32:before {
  content: '\ede8';
}

.icon-Artboard33:before {
  content: '\ede9';
}

.icon-Artboard34:before {
  content: '\edea';
}

.icon-Artboard35:before {
  content: '\edeb';
}

.icon-Artboard36:before {
  content: '\edec';
}
.icon-Artboard37:before {
  content: '\e651';
}

.icon-Artboard38:before {
  content: '\e64a';
}
